@import
	url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap')
	;

html * {
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #EEEEEE;
	margin: 0;
}

.home {
	display: inline;
	margin: 0;
}

.back {
	margin: 0;
}

.back>img {
	position: absolute;
	left: 80px;
}

span {
	background-color: #A6E3E9;
	position: absolute;
	right: 10rem;
	top: 0.7rem;
}

.logout {
	display: inline;
	position: absolute;
	right: 0;
	margin-left: 3rem;
}

button {
	padding: 10px 20px;
	box-shadow: 3px 3px grey;
	border: 2px solid #3FC1C9;
	border-radius: 25px;
}

button:hover {
	background-color: #E90064;
}

.history {
	background-color: #D3E0DC;
	position: absolute;
	right: 6rem;
	top: 0;
}

.history>img {
	height: 1rem;
}

.history:hover {
	background-color: #AEE1E1;
}

.auditHeading{
	text-align: center;
}

.historyHeading{
	text-align: center;
}

.danger{
	color: red;
}