@import
	url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap')
	;

html * {
	font-family: 'Poppins', sans-serif;
}

.dashboard {
	height: 80vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.main {
	margin: auto;
}

input[type=submit] {
	padding: 7rem;
	font-size: 2rem;
	background-color: #D3E0DC;
	border: none;
}

input[type=submit]:hover {
	background-color: #00ADB5;
	box-shadow: 4px 4px #30E3CA;
}