@import
	url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap')
	;

html, body {
	min-height: 100%;
}

body, div, form, input, select, p {
	padding: 0;
	margin: 0;
	outline: none;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

body {
	background-color: #EEEEEE;
}

h1, h2 {
	text-transform: uppercase;
	font-weight: 400;
}

h2 {
	margin: 0 0 0 8px;
}

.main-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 25px;
	background-color: #EEEEEE;
}

.left-part, form {
	/*  padding: 25px; */
	
}

.left-part {
	text-align: center;
}

.fa-graduation-cap {
	font-size: 72px;
}

form {
	background-color: #EEEEEE;
}

.title {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.info {
	display: flex;
	flex-direction: column;
}

.userMail{
	opacity: 0.4;
}

input, select {
	padding: 5px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #eee;
}

input[type=number] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input::placeholder {
	color: grey;
}

option:focus {
	border: none;
}

option {
	background: black;
	border: none;
}

.checkbox input {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.checkbox a {
	color: #26a9e0;
}

.checkbox a:hover {
	color: #85d6de;
}

.danger{
	color: red;
}

.btn-item, .final {
	padding: 10px 5px;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
	background: #26a9e0;
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}

.btn-item {
	display: inline-block;
	margin: 20px 5px 0;
}

.final {
	width: 100%;
}

.final:hover, .btn-item:hover {
	background: #85d6de;
}

@media ( min-width : 568px) {
	html, body {
		height: 100%;
	}
	.main-block {
		flex-direction: row;
		height: calc(100% - 50px);
	}
	.left-part, form {
		flex: 1;
		height: auto;
	}
}