@import
	url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap')
	;

html * {
	font-family: 'Poppins', sans-serif;
}

.requests {
	display: flex;
	justify-content: center;
}

table {
	border-collapse: collapse;
	border-right: none;
	border-left: none;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.approve:hover {
	background-color: #A8E6CF;
}

th, td {
	padding: 8px;
}